<%= form_with(model: sea, local: true) do |form| %>
  <% if sea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sea.errors.count, "error") %> prohibited this sea from being saved:</h2>

      <ul>
      <% sea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sea_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :sea_bio, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :sea_image_url, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :temperature %>
    <%= form.text_field :temperature, id: :sea_temperature, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :favorite_color %>
    <%= form.text_field :favorite_color, id: :sea_favorite_color, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :scariest_creature %>
    <%= form.text_field :scariest_creature, id: :sea_scariest_creature, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :mood %>
    <%= form.text_field :mood, id: :sea_mood, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.check_box :has_mermaids, id: :sea_has_mermaids %>
    <%= form.label :has_mermaids %>
  </div>

  <%= form.submit class: "form-control btn btn-info"%>

<% end %>
